<h1 class="header">Carpe Diem</h1>
<ul>
    <li>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Milestone -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-8692087518605746"
             data-ad-slot="5235421802"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </li>
    <h3>Coursera Course: <a href="https://www.coursera.org/course/{{course.short_name}}">{{course.name}}</a></h3>
	<li><a href="https://www.coursera.org/course/{{course.short_name}}"><img src="{{course.small_icon}}" alt=""></a></li>
	<li><a href="https://www.coursera.org/courses?search={{keyword}}">Find more courses related to {{keyword}}</a></li>
</ul>