<h1 class="header" onClick="window.setup.person()">Current <span class="curr"></span></h1>
<div class="card noselect">
	<div class="person">
		<h3><span style="color:{{match.color}};">{{match.percent}}% Match</span></h3>
		<h1><strong>{{name}}</strong></h1>
		<div class="profile_pic">
			<img src="{{profilePic}}" style="max-width: 300px" class="img-circle" alt="">
		</div>
	</div>
	<div class="lists">
		<h3>Skills</h3>
		<div class="progress">
			<div class="progress-bar" style="width: {{skillProgress}}%;"></div>
		</div>
		<ul class="skills">
			{{#each skills}}
			<li><button class="btn btn-{{type}}">{{name}}</button></li>
			{{/each}}
		</ul>

		<h3>Education</h3>
		<button class="btn btn-{{education.university.type}}">{{education.university.name}}</button>
		<button class="btn btn-{{education.major.type}}">{{education.major.name}}</button>
		<button class="btn btn-{{education.degree.type}}">{{education.degree.name}}</button>

		<h3>Experience</h3>
		<div class="progress">
			<div class="progress-bar progress-bar-danger" style="width: {{experienceProgress}}%;"></div>
		</div>
		<div class="tableDiv space">
			<ol>
				{{#each experience}}
				<li class="{{have}}"><span class="left"><strong>{{position}}</strong></span><span class="right"></span></li>
				{{/each}}
			</ol>
		</div>
	</div>
</div>

<div id="next-steps">
	<h3>Next Steps</h3>
	<ul>
		<li><a href="https://www.coursera.org/course/ml"><img src="img/coursera.jpg" alt=""></a></li>
		<li>Read: <a href="http://www.amazon.com/The-Pragmatic-Programmer-Journeyman-Master/dp/020161622X">The Pragmatic Programmer Journeyman Master</a></li>
	</ul>
</div>
