<h2 class="header">Experience</h2>
<h3>Skills</h3>

{{#each skills}}
<p class="progressTitle">{{name}}</p>
<div class="progress">
	<div class="progress-bar progress-bar-primary" style="width: {{percent}}%;"></div>
</div>
{{/each}}

<h3>Companies</h3>
<div id="companies" class="list">
	<ol>
	  {{#each companies}} <li>{{name}}</li> {{/each}}
	</ol>
</div>

<h3>Previous Positions</h3>

{{#each titles}}
<p class="progressTitle">{{name}}</p>
<div class="progress">
	<div class="progress-bar progress-bar-primary" style="width: {{percent}}%;"></div>
</div>
{{/each}}